.page-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    /*gap: 10px 0;*/
}


.button-to-top{
    position: fixed;
    z-index: 3;
}

.work-sans{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:normal;
    font-style: normal;
}

.header{
    text-align: center;
}

.klipse-result {
    /*width: 100%; !* Ensure both elements occupy the full width of the container *!*/
    flex-grow: 1;
    flex-shrink: 1;
    width: 45%;
    order: 2;
    margin: 30px 5px;
    border: 2px solid darkslateblue;
    border-radius: 5px;
    position: relative;
    padding: 10px;
}

.klipse-result::before {
    font-family: monospace;
    content: "output";
    /*font-size: 20px;*/
    background-color: #fff;
    color: darkslateblue;
    height: 13px;
    position: absolute;
    top: -9px;
}

.klipse-snippet{
    /*width: 100%; !* Ensure both elements occupy the full width of the container *!*/
    width: 45%;
    flex-grow: 1;
    flex-shrink: 1;
    order: 1;
    margin: 30px 5px;
    border: 2px solid darkslateblue;
    border-radius: 5px;
    position: relative;
    padding: 10px;
}

.klipse-snippet::before {
    font-family: monospace;
    content: "input";
    color: darkslateblue;
    /*font-size: 20px;*/
    background-color: #fff;
    height: 13px;
    position: absolute;
    top: -9px;
}

